.btn {
  display: inline-block;
  background-color: transparent;
  color: var(--green);
  font-size: var(--font-sm);
  font-family: var(--font-mono);
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  transition: background-color var(--transition);
}

.btn:hover,
.btn:focus{
  background-color: var(--dark-green);
}

.btn-lg {
  padding: 1.25rem 1.75rem;
}

.btn-sm {
  padding: 0.75rem 1rem;
}
